
body{
      background: linear-gradient(-90deg, #003791, #456291); /* Standard syntax */
.nav-bar {
    button{
        background-color: #333;
        color:white;
        border: none;
        padding: 10px 10px;

    }
    button:hover{
        background-color: #111;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    li{
        float: left;
        display: block;
        color:white;
        text-align: center;
        padding: 0px 0px;

    }
}
    .learnContainer{
        float: center;
    }
    h1{
        text-align: center;
    }
}